@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section id="about">
    <div class="container">
        <div class="row">
            <div style="padding-left: 15%; padding-right: 15%;">
                <h2>About this page</h2>
                <p class="lead">
                    This is a great place to talk about your worms. Here you can buy everything which you want
                    to fascinating game with your little insects. We are honored to show you our rich equipment for them.
                </p>
                <ul>
                    <li>Bazooka</li>
                    <li>Granadies</li>
                    <li>Bombs</li>
                    <li>Machine guns</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="services" class="bg-light" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div style="padding-left: 15%; padding-right: 15%;">
                <h2>Services we offer</h2>
                <p class="lead">If you like worms battles with good weapons you can stock up on many types of them in the place which you have chosen perfectly.</p>
            </div>
        </div>
    </div>
</section>

