@model IEnumerable<Model.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Worm shop!</h1>
        <p class="lead">The only store where you find everything for worms!</p>
    </div>
</header>





@{
    foreach (var item in Model)
    {
        <div class="main-content">
            <div class="content-image">
                <a href="#"><img src="@Url.Content(item.PhotoPath)" width="150" height="150" /></a>
            </div>
            <div class="content-title">
                <a href="#">@item.Name</a>
            </div>
            <div class="content-title">
                <a href="#">@item.Price</a>
            </div>
            <div class="content-title">
                @Html.ActionLink("Add to cart", "OrderNow", "ShoppingCart", new { id = item.Id }, null)
            </div>
        </div>
    }
}