@model IEnumerable<Model.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="bg-light text-white">
    <div class="container text-center">
        <h1>Welcome to Worm shop!</h1>
        <p class="lead">The only store where you find everything for worms!</p>
    </div>
</header>

<section class="image" style="background-image: url('../img/worm.jpg');"></section>

@*<header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
            </div>
        </div>
    </header>*@

<div id="productElement" class="card-deck">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="Search card m-3" style="min-width: 18rem; max-width:30.5%;">
                <a href="#" class="card-img-top"><img src="@Url.Content(item.PhotoPath)" width="150" height="150" /></a>
                <div class="content-title card-header">
                    <h3><a href="#">@item.Name</a></h3>
                </div>
                <div class="content-title ">
                    <a href="#">@item.Price</a>
                </div>
                <div class="content-title card-footer text-center">
                    @Html.ActionLink("Add to cart", "OrderNow", "ShoppingCart", new { id = item.Id }, null)
                </div>
            </div>
        }
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}
