
@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">PermisionDenied</h2>

<p class="text-danger">
    Sorry, but you don't have access to that page.
</p>

